AppSoap/src/main/webapp/wsdl/Mnozenje.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://UserServicesCentralApp" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://UserServicesCentralApp" xmlns:intf="http://UserServicesCentralApp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://UserServicesCentralApp" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="mnozi">
    <complexType>
     <sequence>
      <element name="arg1" type="xsd:int"/>
      <element name="arg2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="mnoziResponse">
    <complexType>
     <sequence>
      <element name="mnoziReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="mnoziRequest">

      <wsdl:part element="impl:mnozi" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mnoziResponse">

      <wsdl:part element="impl:mnoziResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Mnozenje">

      <wsdl:operation name="mnozi">

         <wsdl:input message="impl:mnoziRequest" name="mnoziRequest">

       </wsdl:input>

         <wsdl:output message="impl:mnoziResponse" name="mnoziResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MnozenjeSoapBinding" type="impl:Mnozenje">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="mnozi">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mnoziRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mnoziResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MnozenjeService">

      <wsdl:port binding="impl:MnozenjeSoapBinding" name="Mnozenje">

         <wsdlsoap:address location="http://localhost:8080/AppSoap/services/Mnozenje"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
